---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "webmethods-apigateway.fullname" . }}
  labels:
    {{- include "webmethods-apigateway.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "webmethods-apigateway.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "webmethods-apigateway.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "webmethods-apigateway.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        {{- if .Values.waitforelastic.enabled }}
        - name: wait-for-es
          {{- if .Values.waitforelastic.image.registry }}
          image: {{ printf "%s/%s:%s" .Values.waitforelastic.image.registry .Values.waitforelastic.image.repository (.Values.waitforelastic.image.tag | default .Chart.AppVersion) }}
          {{- else }}
          image: {{ printf "%s:%s" .Values.waitforelastic.image.repository (.Values.waitforelastic.image.tag | default .Chart.AppVersion) }}
          {{- end }}
          imagePullPolicy: {{ .Values.waitforelastic.image.pullPolicy }}
          env:
            {{- if .Values.waitforelastic.uris }}
            - name: ELASTIC_URI
              value: "{{ .Values.waitforelastic.uris }}"
            {{- end }}
            {{- if .Values.waitforelastic.username }}
            - name: ELASTIC_USERNAME
              value: "{{ .Values.waitforelastic.username }}"
            {{- end }}
            {{- if .Values.waitforelastic.passwordSecret.name }}
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.waitforelastic.passwordSecret.name }}"
                  key: "{{ .Values.waitforelastic.passwordSecret.key }}"
            {{- end }}
          command:
            - sh
            - -c
            - |
              #!/bin/sh -e
              http () {
                  local path="${1}"
                  if [ -n "${ELASTIC_USERNAME}" ] && [ -n "${ELASTIC_PASSWORD}" ]; then
                    BASIC_AUTH="-u ${ELASTIC_USERNAME}:${ELASTIC_PASSWORD}"
                  else
                    BASIC_AUTH=''
                  fi
                  curl -XGET -s -k --fail ${BASIC_AUTH} ${ELASTIC_URI}${path}
              }

              until http "/_cluster/health?wait_for_status=green&timeout=1s"; do
                  echo "waiting for Elasticsearch..."
                  sleep 10;
              done
              echo ""
              echo "Elasticsearch available!"
              exit 0;
        {{- end }}
        {{- with .Values.initContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.image.registry }}
          image: {{ printf "%s/%s:%s" .Values.image.registry .Values.image.repository (.Values.image.tag | default .Chart.AppVersion) }}
          {{- else }}
          image: {{ printf "%s:%s" .Values.image.repository (.Values.image.tag | default .Chart.AppVersion) }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.containerPorts }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          startupProbe:
            failureThreshold: 30
            exec:
              command:
              - /bin/bash
              - ./healthcheck.sh
              - "false"
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - ./healthcheck.sh
              - "true"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- with .Values.envConfigs }}
            {{- include "webmethods-apigateway.dictToEnvs" . | indent 12 }}
            {{- end }}
            {{- with .Values.envSecretConfigs }}
            {{- include "webmethods-apigateway.secretsDictToEnvs" . | indent 12 }}
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: configs-volume
              mountPath: /configs
            - name: wm-derbydb-volume
              mountPath: /opt/softwareag/IntegrationServer/instances/default/db
              subPath: wmderbydb
            {{- if .Values.licenseSecret }}
            - name: apigateway-license
              mountPath: /opt/softwareag/IntegrationServer/instances/default/config/licenseKey.xml
              subPath: {{ .Values.licenseSecret.path }}
              readOnly: false
            {{- end }}
            {{- if .Values.licenseTerracottaSecret }}
            - name: terracotta-license
              mountPath: /opt/softwareag/common/conf/terracotta-license.key
              subPath: {{ .Values.licenseTerracottaSecret.path }}
              readOnly: false
            {{- end }}
      volumes:
      - name: configs-volume
        configMap:
          name: {{ include "webmethods-apigateway.fullname" . }}
      - name: wm-derbydb-volume
        emptyDir:
          sizeLimit: 5Gi
      {{- with .Values.licenseSecret }}
      - name: apigateway-license
        secret:
          secretName: {{ .name }}
          items:
          - key: {{ .key }}
            path: {{ .path }}
      {{- end }}
      {{- with .Values.licenseTerracottaSecret }}
      - name: terracotta-license
        secret:
          secretName: {{ .name }}
          items:
          - key: {{ .key }}
            path: {{ .path }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}